.sidebar {
  width: 250px;
  height: 100vh;
  background: #1F7D53;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  box-shadow: rgba(39, 147, 49, 0.2) 5px 5px;

  @media (max-width: 768px) {
    width: 100vw;
    height: 80px;
    flex-direction: row;
  }


  .sidebar-header {
    padding: 15px;
    background: #255F38;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      margin: 0;
      color: #FFF;
      font-size: 1.75rem;
      font-weight: 600;

      @media (max-width: 768px) {
        font-size: 1rem;
      }

    }
  }

  .sidebar-nav {
    flex: 1;
    padding: 24px 0;

    display: flex;

    ul {
      list-style: none;
      padding: 0 10px;
      margin: 0;
      width: 100%;

      @media (max-width: 768px) {
        display: flex;
        justify-content: space-around;
      }

      li {
        padding: 12px 24px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #FFF;
        position: relative;
        margin: 4px 0;

        @media (max-width: 768px) {
          padding: 15px;
          display: flex;
          justify-items: center;
        }

        &:hover {
          background-color: #255F38;
          transition: background-color 0.3s ease-in-out;
          border-radius: 25px;
        }

        &.active {
          background-color: #255F38;
          border-radius: 25px;
        }

        mat-icon {
          margin-right: 16px;
          font-size: 24px;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;

          @media (max-width: 768px) {
            margin: 0;
          }
        }

        span {
          font-size: 1rem;
          letter-spacing: 0.3px;
        }

      }
    }
  }
}
